@mixin displaySettings($display, $justify, $direction, $align, $gap, $wrap) {
    display: $display;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}