@mixin displaySettings($display, $justify, $direction, $align, $gap, $wrap) {
    display: $display;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin dimension($width, $heigth) {
    width: $width;
    height: $heigth;
}

@mixin textSettings($fSize, $fWeight) {
    font-size: $fSize;
    font-weight: $fWeight;
}

@mixin color($color, $background) {
    color: $color;
    background: $background;
}